In [1]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
     ---------------------------------------- 0.0/82.7 kB ? eta -:--:--
     --------- ------------------------------ 20.5/82.7 kB ? eta -:--:--
     --------- ------------------------------ 20.5/82.7 kB ? eta -:--:--
     ---------------------------- --------- 61.4/82.7 kB 409.6 kB/s eta 0:00:01
     ---------------------------- --------- 61.4/82.7 kB 409.6 kB/s eta 0:00:01
     -------------------------------------- 82.7/82.7 kB 332.3 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\vivek\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\vivek\anaconda3\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\vivek\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\vivek\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\vivek\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\vivek\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\vivek\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in c:\users\vivek\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\vivek\appdata\roaming\python\python311\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\vivek\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\vivek\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vivek\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vivek\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\vivek\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105796 sha256=b5de6330938a306d98974e715d5c71994fca5c91ae960c8828377cc8becc518d
  Stored in directory: c:\users\vivek\appdata\local\pip\cache\wheels\ff\55\fb\b27a466be754d2a06ffe0e37b248d844f090a63b51becea85d
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.17

In [7]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in c:\users\vivek\anaconda3\lib\site-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in c:\users\vivek\anaconda3\lib\site-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in c:\users\vivek\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\users\vivek\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\users\vivek\appdata\roaming\python\python311\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\vivek\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\vivek\appdata\roaming\python\python311\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\vivek\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\users\vivek\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\vivek\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in c:\users\vivek\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in c:\users\vivek\appdata\roaming\python\python311\site-packages (from bleach->kaggle->opendatasets) (23.2)
Requirement already satisfied: webencodings in c:\users\vivek\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\vivek\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vivek\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vivek\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.4)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [9]:
import opendatasets as od
dataset = "https://www.kaggle.com/datasets/bharadwaj6/kindle-reviews"
od.download(dataset)

Dataset URL: https://www.kaggle.com/datasets/bharadwaj6/kindle-reviews
Downloading kindle-reviews.zip to .\kindle-reviews

100%|███████████████████████████████████████████████████████████████████████████████| 525M/525M [02:43<00:00, 3.37MB/s]

In [11]:
import os
data_dir = ".\kindle-reviews"
os.listdir(data_dir)

['kindle_reviews.csv', 'kindle_reviews.json']

In [1]:
import pandas as pd
data = pd.read_csv("kindle_reviews.csv")

In [2]:
data.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

## Way to do the Project 
1. Preprocessing and Cleaning
2. Train Test Split 
3. BOW, TFIDF ,Word2vec
4. Train ML algorithms

In [3]:
data = data[['reviewText' , 'overall']]

In [4]:
data.rename(columns={'reviewText': 'review', 'overall': 'rating'}, inplace=True)

In [5]:
data.head()

                                              review  rating
0  I enjoy vintage books and movies so I enjoyed ...       5
1  This book is a reissue of an old one; the auth...       4
2  This was a fairly interesting read.  It had ol...       4
3  I'd never read any of the Amy Brewster mysteri...       5
4  If you like period pieces - clothing, lingo, y...       4

In [6]:
data.shape

(982619, 2)

In [7]:
data.isnull().sum()

review    22
rating     0
dtype: int64

In [8]:
data['review'] = data['review'].fillna('No review provided')

In [9]:
data.isnull().sum()

review    0
rating    0
dtype: int64

In [10]:
data['rating'].unique()

array([5, 4, 3, 2, 1], dtype=int64)

In [11]:
data['rating'].value_counts()

rating
5    575264
4    254013
3     96194
2     34130
1     23018
Name: count, dtype: int64

In [12]:
## Preprocessing and cleaning
## positive review is 1 and negative review is 0
data['rating']=data['rating'].apply(lambda x:0 if x< 3 else 1)

In [13]:
data.head()

                                              review  rating
0  I enjoy vintage books and movies so I enjoyed ...       1
1  This book is a reissue of an old one; the auth...       1
2  This was a fairly interesting read.  It had ol...       1
3  I'd never read any of the Amy Brewster mysteri...       1
4  If you like period pieces - clothing, lingo, y...       1

In [14]:
data['rating'].unique()

array([1, 0], dtype=int64)

In [15]:
data['rating'].value_counts()

rating
1    925471
0     57148
Name: count, dtype: int64

In [16]:
# Import necessary libraries
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

# Create a RandomOverSampler object
ros = RandomOverSampler(random_state=42)

# Create a RandomUnderSampler object
rus = RandomUnderSampler(random_state=42)

# Split the data into features (X) and target (y)
X = data.drop('rating', axis=1)
y = data['rating']

# Oversample the minority class
X_oversampled, y_oversampled = ros.fit_resample(X, y)

# Undersample the majority class
X_undersampled, y_undersampled = rus.fit_resample(X, y)

# Combine the oversampled/undersampled features and target
data_oversampled = pd.concat([X_oversampled, y_oversampled], axis=1)
data_undersampled = pd.concat([X_undersampled, y_undersampled], axis=1)

In [17]:
data_oversampled['rating'].value_counts()

rating
1    925471
0    925471
Name: count, dtype: int64

In [18]:
data_undersampled['rating'].value_counts()

rating
0    57148
1    57148
Name: count, dtype: int64

In [19]:
## 1.Lower all the cases
data_undersampled['review']=data_undersampled['review'].str.lower()

In [20]:
data_undersampled.head()

                                               review  rating
21  with ylesia, a novella originally published in...       0
39  for whatever reason, star wars short stories a...       0
42  i admit it, i snapped this up the moment i saw...       0
64  he had an english accent which he seemed tryin...       0
65  somewhat of a disappointment.  the articles we...       0

In [ ]:
import re
from nltk.corpus import stopwords
from bs4 import BeautifulSoup

## Removing special characters
data_undersampled['review'] = data_undersampled['review'].apply(lambda x: re.sub('[^a-z A-Z 0-9]+', '', x))

## Removing all the stopwords
data_undersampled['review'] = data_undersampled['review'].apply(lambda x: " ".join([y for y in x.split() if y not in stopwords.words('english')]))

## Remove URL
data_undersampled['review'] = data_undersampled['review'].apply(lambda x: re.sub('http\S+|www\S+', '', x))

## Remove HTML text
data_undersampled['review'] = data_undersampled['review'].apply(lambda x: BeautifulSoup(x, 'html.parser').get_text())

## Remove any additional spaces
data_undersampled['review'] = data_undersampled['review'].apply(lambda x: re.sub('\s+', ' ', x).strip())

In [22]:
data_undersampled.head()

                                               review  rating
21  with ylesia a novella originally published in ...       0
39  for whatever reason star wars short stories ar...       0
42  i admit it i snapped this up the moment i saw ...       0
64  he had an english accent which he seemed tryin...       0
65  somewhat of a disappointment  the articles wer...       0

In [23]:
## lemmatizer
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [24]:
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [25]:
data_undersampled['review']=data_undersampled['review'].apply(lambda x:lemmatize_words(x))

In [26]:
data_undersampled.head()

                                               review  rating
21  with ylesia a novella originally published in ...       0
39  for whatever reason star war short story are a...       0
42  i admit it i snapped this up the moment i saw ...       0
64  he had an english accent which he seemed tryin...       0
65  somewhat of a disappointment the article were ...       0

In [27]:
##train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_undersampled['review'], data_undersampled['rating'], test_size=0.20, random_state=42)

In [39]:
## implying BOW
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(stop_words='english', max_features=5000)
X_train_bow = bow.fit_transform(X_train).toarray()
X_test_bow = bow.transform(X_test).toarray()

In [37]:
## impling tfidf
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000)
X_train_tfidf = tfidf.fit_transform(X_train).toarray()
X_test_tfidf =tfidf.transform(X_test).toarray()

In [38]:
X_train_tfidf

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [40]:
from sklearn.naive_bayes import GaussianNB
nb_model_bow = GaussianNB().fit(X_train_bow,y_train)
nb_model_tfidf = GaussianNB().fit(X_train_tfidf,y_train)

In [41]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [42]:
y_pred_bow = nb_model_bow.predict(X_test_bow)

In [44]:
y_pred_tfidf = nb_model_tfidf.predict(X_test_tfidf)

In [45]:
print(accuracy_score(y_test,y_pred_bow))

0.7187226596675416

In [46]:
print(accuracy_score(y_test,y_pred_tfidf))

0.7856955380577428

In [47]:
confusion_matrix(y_test,y_pred_bow)

array([[10425,  1157],
       [ 5273,  6005]], dtype=int64)

In [48]:
confusion_matrix(y_test,y_pred_tfidf)

array([[9473, 2109],
       [2790, 8488]], dtype=int64)